@mixin box-shadow($color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset 0px 0px 45px $color;
    -moz-box-shadow:inset 0px 0px 45px $color;
    box-shadow:inset 0px 0px 45px $color;
  } @else {
    -webkit-box-shadow: 0px 0px 45px $color;
    -moz-box-shadow: 0px 0px 45px $color;
    box-shadow: 0px 0px 45px $color;
  }
 }
$secondSpan:orange;
$firstSpan: darken($secondSpan, 5%);
$thirdSpan: lighten($secondSpan, 15%);

.loading{
 height: 80px;
 margin: 0 auto;
 span{
  float: left;
  background: $secondSpan;
  border-radius: 50%;
  &.active{
   @include box-shadow($secondSpan);
  }
  &:first-child{
   background: $firstSpan;
   &.active{
    @include box-shadow($firstSpan);
   }
  }
  &:last-child{
   background: $thirdSpan;
   &.active{
    @include box-shadow($thirdSpan);
   }
  }
 }

}
