@mixin box-shadow($color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset 0px 0px 45px $color;
    -moz-box-shadow:inset 0px 0px 45px $color;
    box-shadow:inset 0px 0px 45px $color;
  } @else {
    -webkit-box-shadow: 0px 0px 45px $color;
    -moz-box-shadow: 0px 0px 45px $color;
    box-shadow: 0px 0px 45px $color;
  }
 }
$back-color:#1e93d2;

.loading{
 margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
 span{
  float: left;
  background: darken($back-color, 5%);
  &.active{
  transform:scale(0.5,0.5);
   @include box-shadow($back-color);
  }
  &.active.dashed{
  transform:scale(1.5,1.5);
  }

 }

}
