@mixin box-shadow($color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset 0px 0px 45px $color;
    -moz-box-shadow:inset 0px 0px 45px $color;
    box-shadow:inset 0px 0px 45px $color;
  } @else {
    -webkit-box-shadow: 0px 0px 45px $color;
    -moz-box-shadow: 0px 0px 45px $color;
    box-shadow: 0px 0px 45px $color;
  }
 }
$back-color:orange;

.loading{
 height: 80px;
 margin: 0 auto;
 span{
  float: left;
  background: $back-color;
  border-radius: 50%;
  &.active{
   @include box-shadow($back-color);
  }

 }

}
